<!doctype html>
<html lang="fr" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>MyTodoList</title>
    <script src="js/angular.min.js"></script>
    <script src="js/Controller.js"></script>
    <link href="css/tasks.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body ng-controller="MainController">
<div id="entete">
    <button id="logout" class="btn btn-dark" ng-click="logout()">Déconnexion</button>
    <h4><img src="images/profile.png"><p>{{user}}</p></h4>
    <center><a href="index.html" style="text-decoration: none;color:inherit"><h1><img src="images/logo.png" alt="Logo Todo">My Todo List</h1></a></center>
</div>
<div id="contenu">
    <div id="list-form">
        <form>
            <h5>Nouvelle tache : </h5>
            <input type="text" required="" id="newListe" placeholder="Nom de la tache" ng-model="content">
            <button type="submit" class="btn btn-success" ng-click="createTask()">+ Ajouter</button>
            <p id="liste-warning"></p>
        </form>
    </div>
        <table>
            <div id="task" ng-repeat="task in tasks  | orderBy:'-id'">
                <h5>
                    <div id ="cb">
                        <!--<input type="checkbox" id="done{{x._id}}" ng-change="switch(x._id)" ng-checked="x.done" ng-model="formData.check">-->
                        <div id="content" ng-if="task.done">
                            <img src="images/checked.png" alt="Task done" ng-click="switch(task.id,task.done)">
                            <div id="nomTache{{task.id}}" style="display: inline;margin-left: 10px;">
                                <del>{{ task.content }}</del>
                            </div>
                            <input style="display: none; margin-right: 10px;" id="text{{task.id}}" type="text" ng-model="modif">
                        </div>
                        <div id="content" ng-if="!task.done">
                            <img src="images/unchecked.png" alt="Task not done" ng-click="switch(task.id,task.done)">
                            <div id="nomTache{{task.id}}" style="display: inline;margin-left: 10px;">
                                {{ task.content }}
                            </div>
                            <input style="display: none; margin-right: 10px;" id="text{{task.id}}" type="text" ng-model="modif">
                        </div>
                    </div>
                    <div id="modifTask">
                        <button style="display: none;" id="btn{{task.id}}" class="btn btn-primary" ng-click="update(task.id)"> Valider </button>
                        <button class="btn btn-primary" id="modif{{task.id}}" ng-click="openEdit(task.id)"> Modifier </button>
                        <button id="delTask" class="btn btn-danger" ng-click="deleteTask(task.id)"> x </button>
                    </div>
                </h5>
            </div>
        </table>
    <!--
    <div id="todo-form">
        <form>
            <p>
                Tâche : <input type="text" id="newTache" required placeholder="Ma tache" ng-model="formData.text">
            </p>
            <p>
                Associer à la liste :
                <select id="select-liste" ng-model="formData.select">
                    <option ng-repeat="l in listSet | orderBy:'+name'" value="{{l.name}}">{{l.name}}</option>
                </select>
            </p>
            <button type="submit" class="btn btn-success" ng-click="createTodo()"> Ajouter </button>
            <p id="select-warning"></p>
        </form>
    </div>-->
</div>
<p id="footer">
    <i>
        Projet Archi App Entreprise - Polytech Marseille
        <br>
        Copyright © Thomas MARTINEZ/Geoffrey VARTAZIAN 2019
    </i>
</p>
</body>
</html>